body {
    font-size: 28px;
}
.column-contact {
    float: left;
    width: 50%;
    background-color: white;
}
  
  /* Clear floats after the columns */
.row-contact:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .column-contact {
      width: 100%;
    }
}

.map {
    width: 100%;
}

fieldset {
    margin-bottom: 10px;
}

.button {
    width: 200px;
    height: 80px;
    background-color: #C8A97E;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;

}

.map-google {
    border:0; 
    padding: 20px; 
    aspect-ratio: 4/4;     
    width: 100%;    
    height: 100%;  
    max-width: 800px;     
    max-height: 800px;    
    min-width: 150px; 
    margin: auto;
}